<!DOCTYPE html>
<html>
<head>
<title>Master Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <meta http-equiv="refresh" content="1"> -->
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>

<body>
	<div class="row-fluid">
    	<div class="span4" style="margin:10px;">
    		<div id="p" class="easyui-panel" title="My Panel" 
        		style="width:500px;height:250px;padding:10px;background:#fafafa;"
        		data-options="collapsible:true">
    			<p>panel content.</p>
    			<p>panel content.</p>
			</div>
    	</div>
    	<div class="span4" style="margin:10px;">
    		<div id="p" class="easyui-panel" title="My Panel" 
        		style="width:500px;height:330px;padding:10px;background:#fafafa;">
    			<table class="table table-bordered">
    				<tr>
    					<td style="width:150px">
							<span ><strong>Server Name</strong></span>
						</td>
    					<td>haha</td>
    				</tr>
    				<tr>
    					<td style="width:150px">
							<span >Start Time</span>
						</td>
    					<td>haha</td>
    				</tr>
    				<tr>
    					<td style="width:150px">
							<span >Active Time</span>
						</td>
    					<td>haha</td>
    				</tr>
    				<tr>
    					<td style="width:150px">
							<span >Average Load</span>
						</td>
    					<td>haha</td>
    				</tr>
    				<tr>
    					<td style="width:150px">
							<span >Active Time</span>
						</td>
    					<td>haha</td>
    				</tr>
    				<tr>
    					<td style="width:150px">
							<span >Zookeeper Quorum</span>
						</td>
    					<td>haha</td>
    				</tr>
    				<tr>
    					<td style="width:150px">
							<span >Cluster ID</span>
						</td>
    					<td>haha</td>
    				</tr>
				</table>
			</div>
    	</div>
    	<div class="span4" style="margin:10px;">
    		<div id="p" class="easyui-panel" title="My Panel" 
        		style="width:500px;height:250px;padding:10px;background:#fafafa;"
        		data-options="collapsible:true">
    			<p>panel content.</p>
    			<p>panel content.</p>
			</div>
    	</div>
    </div>
    
    <div class="row-fluid">
          <div class="span4">Fluid 6</div>
          <div class="span4">Fluid 6</div>
      	  <div class="span4">Fluid 6</div>
    </div>

</body>
</html>