<!DOCTYPE html>
<html>
<head>
<title>table tps</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <meta http-equiv="refresh" content="1"> -->
</head>

<body>
	<script type="text/javascript" src="js/hbaseMonitor/master/regionserver_load.js"></script>

	<div class="row-fluid" style="margin: 10px; margin-right: -10px;">
		<div class="span12">
		   <table id="regionserverInfo"></table>
		</div>
	</div>

	<div class="row-fluid" style="margin: 10px; margin-right: -10px;">
		<div class="span2" style="height: 50px;">
			<ul id="regionList"></ul>  
		</div>
		<div class="span10" style="background-color: gray;">
			<table id="regionInfo"></table>
		</div>
	</div>
</body>
</html>