<!DOCTYPE html>
<html>
<head>
<title>table tps</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <meta http-equiv="refresh" content="1"> -->
</head>

<body>
	<script type="text/javascript" src="js/hbaseMonitor/zk/zookeeper.js"></script>
	<div class="row-fluid" style="margin: 10px;">
		<div class="span12">
			<table id="zk_attr_table"></table>
		</div>
	</div>
	<div class="row-fluid" style="margin: 10px;">
		<div class="span12">
			<table id="zk_statistics_table"></table>
		</div>
	</div>
	
</body>
</html>